/* Classes with identical hidden state properties */
.knowledgeDisplay,
.goldDisplay,
.manaDisplay,
.orbDisplay {
    display: flex;
    flex-direction: row;
    justify-content: left;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 1s ease;
}

/* Classes with identical visible state properties */
.knowledgeDisplay.show,
.goldDisplay.show,
.manaDisplay.show,
.orbDisplay.show {
    opacity: 1;
    visibility: visible;
    display: flex;
    height: auto;
}

/* resourceDiv hidden/visible states */
.resourceDiv {
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 90%;
    margin: 8px 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.resourceDiv.show {
    opacity: 1;
    visibility: visible;
    height: auto;
}

/* Individual styles */
.resourceTitle {
    width: 100px;
}

.resourceAmount {
    width: 50px;
}

.goldTitle {
    color: goldenrod;
}

.manaTitle {
    color: lightskyblue;
}

/* dummyDisplay hidden/visible states */
.dummyDisplay {
    display: flex;
    flex-direction: row;
    justify-content: left;
    visibility: hidden;
    height: 0;
}

.dummyDisplay.show {
    visibility: visible;
    display: flex;
    height: auto;
}
