.shopTab {
    visibility: hidden;
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.shopTab.show {
    visibility: visible;
    display: flex;
}

.shopBuyBtn {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 4px 8px;
}
.shopBuyBtn:hover {
    background-color: rgb(236, 236, 236);
}

.shopBuyBtn:active {
    background-color: lightgray;
}