html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.topBar, .bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 4px 8px;
}

.topBar {
    border-bottom: 1px solid black;
}
.bottomBar {
    border-top: 1px solid black;
}

.version {
    font-style: italic;
    text-align: left;
}

.gameMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 0;
    overflow-y: auto;
    flex: 1 1 auto;
}

.gameMainCenter {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.gameMainCenter.show {
    visibility: visible;
    opacity: 1;
}

.gameMainCenterMain {
    visibility: hidden;
    display: none;
    height: 100%;
    min-height: 0;
}

.gameMainCenterMain.show {
    visibility: visible;
    display: flex;
    flex-direction: column;
}

.insideHouse {
    visibility: hidden;
    display: none;
}

.insideHouse.show {
    visibility: visible;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}



.gameMainLeft {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 300px;
    padding: 4px;
}

.gameMainCenter {
    display: flex;
    flex-direction: column;
    width: 700px;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px;
    min-height: 400px;
    height: 100%;
}
.gameMainCenter.border {
    border-left-color: black;
}



.gameMainRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    min-height: 400px;
    max-width: 25%;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 1px;
    position: relative;
}

.gameMainRightHeader {
    min-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4px;
    padding-bottom: 4px;
}

.topLog  {
    flex: 1 1 0;
    min-height: 200px;
    height:auto;
    max-height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}
.bottomLog {
    position:relative;
    height: 199px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-top: 1px solid black;
}

.logDivider {
    margin: 0 16px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
}

.log {
    padding: 4px;
    flex: 1 1 0;
    min-height: 0;
    max-height: 100%;
    overflow-y: auto;
    position: relative;
}

.logGradient {
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  height: 40px; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.82), transparent);
  pointer-events: none;
  z-index: 900;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logGradient2 {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.82), transparent);
  pointer-events: none;
  z-index: 900;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tabContent {
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.ashenColor {
    color: #4c6876;
}

.logMessage {
    opacity: 0;
    transition: opacity 1s ease;
}
.logMessage.show {
    opacity: 1;
}

span[style] a.dialogue {
    color: inherit !important;
    font-weight: bold;
}

.dialogue.link {
    color: gray;
}

.dialogue.link:hover{
    color:rgb(84, 84, 84);
}

.dummy {
    color: #373737;
}
