.topBar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.gameMain {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.gameMainLeft {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 4px
}

.gameMainCenter {
    width: 700px;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
}
.gameMainCenter.border {
    border-left-color: black;
}

.centerContent {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}

.centerContent.show {
    visibility: visible;
    opacity: 1;
}

.tabSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.tabLink {
    color: gray;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}

.tabLink:hover {
    color:rgb(84, 84, 84);
    white-space: pre;
}

.tabLink.show {
    visibility: visible;
    opacity: 1;
}

.tilde {
    white-space: pre;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}

.tilde.show {
    visibility: visible;
    opacity: 1;
}

.gameMainRight {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gameMainRightHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4px;
    padding-bottom: 4px;

}

.logDivider {
    margin: 0 16px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
}

.log{
    padding: 4px;
}

.ashenColor {
    color: #4c6876;
}