.subTabSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    overflow: hidden;
}

.subTabSelector.show {
    padding: 10px;
    visibility: visible;
    opacity: 1;
    height: auto;
    overflow: visible;
}

.mainTabSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    height: 0;
    overflow: hidden;
}

.mainTabSelector.show {
    padding: 10px;
    visibility: visible;
    opacity: 1;
    height: auto;
    overflow: visible;
}

.mainSelectorDiv {
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 90%;
    margin: 8px auto;
    height: 0;
    opacity: 0;
}
.mainSelectorDiv.show {
    opacity: 1;
}


.tabLink {
    color: gray;
    display: inline-block; /* Always rendered */
    opacity: 0;
    pointer-events: none;  /* Prevent interaction when hidden */
    transition: opacity 1s ease;
    text-decoration: none;
    height: 0;
    width: 0;
}

.tabLink.show {
    opacity: 1;
    pointer-events: auto;
    height: auto;
    width: auto;
}

.tabLink:hover {
    color:rgb(84, 84, 84);
    white-space: pre;
}


.tilde {
    color: gray;
    white-space: pre;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.tilde.show {
    display: inline-block;
    opacity: 1;
}